body {
    margin: 0;
    padding: 0;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
        grid-gap: 4px;
    width: 100vw;
    height: 100vh;
    padding: 8px;
    background-color: #000000;
}
.category-boxes{

}
.category-boxes, .clue-boxes{
    background-color: #38932D;
    color: white;
    text-align: center;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0;
}
.box-outline {
  border: 2px solid black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.active-clue {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(56, 147, 45, 1);
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
.active-clue-text{

    font-size: 64pt;
}

.submission-box{
    display: none;
}


