<!DOCTYPE html>
<html>
<head>
    <title>My Flask App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="grid-container" id="grid">
    {% for i in range(6) %}
    <div class="grid-item category-boxes" data-col=i >{{ categories[i] }}</div>
    {% endfor %}
    {% for i in range(1, 6) %}
    {% for j in range(6) %}
    <div class="grid-item clue-boxes" onclick="revealClue({{ i-1 }}, {{ j }}, {{ clues }})">{{ prizes[i] }}</div>
    {% endfor %}
    {% endfor %}
</div>

    <div class="active-clue" id="activeclue" onclick="buzzIn()"><p id="activecluetext" class="active-clue-text"></p>

    <div id="submissionbox" class="submission-box"><input type="text" id="activeclueinput" placeholder="Enter your answer">
    <button onclick="submitAnswer()">Submit</button>
        <p id="timer"></p></div></div>

    <div class="active-clue" id="endCard"><p class="active-clue-text" id="endgametext"></p></div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
