<!DOCTYPE html>
<html>
<head>
    <title>Triv-AI</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Oswald:700&display=swap" rel="stylesheet">
</head>
<body>


    <div class="page-container">
        <div class="archive-menu" id="archivemenu">

            <div class="archive-banner">
                <p class="archive-title">ARCHIVE</p>
                <img class="nav-button-exit" src="\static\Transparent_X.png" id="navbutton" onclick="toggleArchive()">
            </div>
            <ul>    
                {% for i in range(current_num)[::-1] %}
                    <li id="puzzle-{{ i }}"><a href="/archive/{{ i }}">Clue Set #{{ i }}</a></li>
                {% endfor %}
            </ul>
        </div>
    <div class="banner">

        <div class="title" data-clueset-num="{{ clueset_num }}"><a href="/">TRIV-AI #{{ clueset_num }}</a></div>
        <img class="nav-button" src="\static\Hamburger_icon.png" id="navbutton" onclick="toggleArchive()">
    </div>

    <div class="game-container">
        <div class="grid-container" id="grid">
            {% for i in range(6) %}
            <div class="grid-item category-boxes" data-col=i >{{ categories[i] }}</div>
            {% endfor %}

            <!-- Generating Clues -->
            {% for j in range(1, 6) %}
            {% for i in range(6) %}
            <div id="clue-{{ i }}-{{ j-1 }}" class="grid-item clue-boxes" onclick="revealClue({{ i }}, {{ j-1 }}, {{ clues }}, {{responses}})">{{ prizes[j-1] }}
            </div>
            {% endfor %}
            {% endfor %}
        </div>
        <div class="active-clue-container" id="activecluecontainer">
            <div class="active-clue" id="activeclue" onclick="buzzIn()">
                <div class = "top-half" id="tophalf">
                    <p  class="active-clue-text" id="activecluetext"></p>
                    <p class="active-clue-response" id="activeclueresponse"></p>
                </div>
                <div class="bottom-half" id="bottom">
                    <div class="submission-box-container">
                        <div id="submissionbox" class="submission-box"><input type="text" id="activeclueinput" placeholder="Submit an answer">
                        <button onclick="submitAnswer()">►</button>
                        </div>
                        <div id="timer" class="timer">
                            <div class="timer-box"></div>
                            <div class="timer-box"></div>
                            <div class="timer-box"></div>
                            <div class="timer-box"></div>
                            <div class="timer-box"></div>
                            <div class="timer-box"></div>
                            <div class="timer-box"></div>
                            <div class="timer-box"></div>
                            <div class="timer-box"></div>
                            <div class="timer-box"></div>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
        <div class="active-clue-container" id="endcardcontainer">
            <div class="active-clue" id="endCard">
                <br><p class="active-clue-text" id="endgametext"></p>
            </div>
        </div>
    </div>
    <div class="info-box">
        <h1></h1>
        <p></p>
    </div>

</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
